/wikiparse.egg-info/
/.pytest_cache/
__pycache__/
*.pyc
/.mypy_cache/
/pip-wheel-metadata/
/results/
/enwiktionary-????????.*
/enwiktionary-20171001-pages-meta-current.xml.defns/
/dumplabels/*.json
/dumplabels/Scribunto
/dumpsplit/target
/.snakemake/
.mypy_cache/
